# Node
node_modules/
.pnpm-store/
.next/
out/
coverage/

# Rust
/target/
Cargo.lock

# Logs
yarn-debug.log*
yarn-error.log*
npm-debug.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
frontend/.env

# IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo
